/* style.css
 * This file provides css styles.
 */

body,html {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #000000;
}

/* header footer common */
header, footer {
	width: 100%;
	text-align: center;
	color: #fff;
}



@media (max-width: 600px){
	.title, .tips, section{
		width: 100%;
	}
}

.leftHalf {
	width: 100%;
}

